.App {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Waiting for the Sunrise';
  height: 45em;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url('/images/cryptocurrency.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 36px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
